/* slide show learnt via w3 https://www.w3schools.com/howto/howto_js_slideshow.asp */

/* General */

* {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;

    padding: 0;
    margin: 0;
  }


html, body {
    background-color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    padding: 0;
    /* margin-left: auto;
    margin-right: auto; */
}



.widthControl {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}



/* Nav stuff */

.relativeContainer {
    position: relative;
    max-width: 90%;
}
#logo {
    padding-top: 4.1em;
    margin: 0;
}

#media-menu {
    position: absolute;
    top: 6.6em;
    right: 0;
  
}

#main-menu {
    position:absolute;
    right: 10%;
}

#main-menu ul li {
    margin: 0;
    display: inline-block;
    font-size: 1.25em;
    padding-left: 5.25em;
    padding-top: 6.1em;
}


#main-menu ul li:first-child {
    padding-left: 0;
}

#media-menu li:hover {
    transform: scale(1.5); 
}

.mediaLogos li {
    padding-bottom: 2em;
}

.menu-toggle {
    display: none;
}

.media-toggle {
    display: none;
}

ul {
    list-style-type: none;
}

#header a {
    color: #2F3E46;
    text-decoration: none;
}

#header a:hover {
    color: #DC2F02;
}

#mainAbout {
    text-align: left;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#mainAbout p {
    text-indent: 21px;
    line-height: 2em;
}

/* Experience page */

#workExperience {
    text-align: center;
    margin-top: 22px;
}

#workExperience li {
    padding: 8px;
}


/* footer styles */

#footer-menu a {
    color: #2F3E46;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #DC2F02;
}

#footer-menu ul li {
    font-size: 18px;
    margin: 0;
    display: inline-block;
    font-size: 1.25em;
    padding-left: 5.31em;
    padding-bottom: 3em;
}
#footer-menu ul li:first-child {
    padding-left: 0;
}


#copywrite {
    font-size: .8em ;
    margin-bottom: 2em;
}


/* text stuff */

#heroText {
    margin-top: 166px;
    max-width: 557px ;
}

.bolded {
    font-weight: 500;
    font-size: 1.2em;
}

p {
    font-size: 1.25em;
    line-height: 1.6em;
}


h2 {
    font-size: 1.8em;
    color: #DC2F02;
}

h3 {
    font-size: 1.25em;
    /* padding-right: 28px; */
    font-size: 17px;
    margin-top: 103px;
    font-weight: 500;
    color: #DC2F02;
    /* padding: 0%; */
    text-align: center;
    padding-bottom: 30px;
}

h3:hover {
    cursor: pointer;
}

h4 {
    margin: 74px 0;
    font-size: 2.6em;
    text-align: center;
    color: #2F3E46;
}

#carouselHeader {
    padding-right: 22px;
    padding-top: 55px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

/* Slideshow container its edited and adapted, 
but I got a lot of it from w3 https://www.w3schools.com/howto/howto_js_slideshow.asp */

.slide-container {
    padding: 0;
    /* max-height: auto; */
    position: relative;
    padding-bottom: 60px;
    }

/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev, .next {
    padding: 0;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    top: 37%; 
    width: 50px;
    height: auto;
    color: black;
    font-weight: 400;
    font-size: 54px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.prev {
    left: -1.7em;
}
.next {
  right: -2em;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  color: #DC2F02;
}


/* The dots */

#dotGroup {
    text-align: center;
    padding-right: 13px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 12px 2px 0px 2px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

.active, .dot:hover {
  background-color: #00a77d;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}


/* images stuff */

/* #bigPortraitContainer {
    padding: 30px 0;
    background-color: #52796F;
} */

#bigPortrait {
    margin-left: auto;
    margin-right: auto;
    margin-top: 132px;
    position: relative;
    text-align: center;
    border-top:30px solid #52796F;
    border-bottom:30px solid #52796F;
    background-color: #354F52;
}

#skillDescription p {
    position: absolute;
    bottom: 80px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    margin-bottom: 5px;
    color: #E1EDD9;
    max-width: 70%;
    font-size: 1.375em;
    line-height: 1.em;
    padding: 12px;
    letter-spacing: .07em;
}

#portraitImg {
    width: calc(70vw + 30px);
    border-radius: 24px;
    display: block;
    padding: 20px 0 70px 0;
    margin-left: auto;
    margin-right: auto;
}

.responseImg {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    flex: 1 0 0;
    /* padding: 0 10px 0 10px; */
    margin-left: auto;
    margin-right: auto;
}

.responseImgFlex {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    flex: 1 0 0;
    object-fit: contain;
    border-radius: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
    /* padding: 0 10px 0 10px; */
   
}

/* flex rows */

.flex-container {
    /* padding-top: 90px; */
    display: flex;
    flex-flow: row wrap;
    gap: 1.5em;
    padding-bottom: 108px;
}

.flex-item1 {
    max-width: fit-content;
    max-height: 450px;
    flex: 1 0 0;
}
.flex-item2 {
    max-width: fit-content;
    max-height: 450px;
    flex: 1 0 0;
}

/* Form stuff */

.formFlexContainer {
    gap: .6em;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-self: center; */
    flex-flow: row wrap;
    padding-bottom: 73px;
}

.formItem1 {
    flex: 1 0 0 ;
    margin: 0;
}

.formItem2 {
    flex:  1 0 0;
    margin: 0;
}

.flexContainer2 {
    display: flex;
    flex-flow: column;
    gap: 1.8em;
    padding: 0;
    margin: 0;
}

.colItem1 {
    /* padding-bottom: 2em; */
    flex: 1 0 0;
}

.colItem2 {
   flex: 1 0 0;
}

label {
    font-size: 1.7em;
    margin-right: 28px;
    color: #2F3E46;
}

input {
    background-color: #E4EBE0;
    /* height: 47px;
    width: 18em; */
    font-size: 18px;
    padding: 6px 0 6px 16px;
    height: 80%;
    width: 65%;
    margin: 0;
    border: none;
    border-radius: 10px;
}

textarea {
    font-size: 18px;
    height: 80%;
    width: 90%;
    padding-top: 11px;
    padding-left: 16px;
    background-color: #E4EBE0;
    border: none;
    border-radius: 10px;
}

#submitBtnDisplay {
    flex: 0 0 100%;
    justify-self: right;
    
}


.submit-btn {
    margin-right: 20px;
    float: right;
    
    font-weight: 400;
    width: 120px;
    height: 30px;
    border: .8px solid #52796F;
    border-radius: 10px;
    background-color: #E4EBE0;
}

.submit-btn:hover {
    cursor: pointer;
}

/* grid form - wasn't as useful responsively */

/* .form-container {
    display: grid;
    column-gap: .5em;
    row-gap: 0;
    justify-content: center;
    grid-template-columns: (4, 200px);
    grid-template-rows: (2, 47px);
    grid-template-areas: "item1 item1 item3 item3"
                         "item2 item2 item3 item3";
}
.item {
    padding:1em;
  }
  .item1 {
    grid-area:item1;
  }
  .item2 {
    grid-area:item2;
  }
  .item3 {
    grid-area:item3;
  } */



/* responsive media queries */


@media screen and (max-width: 955px) {


#header {
    display: block;
    max-width: 80%;
}

#main-menu {
    
    text-align: center;
    margin-left: 9%;
}

#main-menu ul li {
        font-size: 1.1em;
        padding-left: 5.75em;
        padding-top: 2em; 
    }

    #main-menu ul :first-child {
                
        padding-left: 0;
        padding-top: 2em; 
    }

.formFlexContainer {
    display: block;
}

/* label {
    font-size: 1.7em;
    margin-right: 28px;
    color: #2F3E46;
} */

input {
    background-color: #E4EBE0;
    /* height: 47px;
    width: 18em; */
    font-size: 18px;
    padding: 6px 0 6px 16px;
    height: 80%;
    width: 65%;
}

textarea {
    font-size: 18px;
    height: 80%;
    width: 80%;
    margin-top: 2em;
}
#submitBtnDisplay {
    display: block;
    margin-right: 40px;
    margin-top: 1em;
    
}
    
}



@media screen and (max-width:767px) {

#bigPortrait {
    margin-top: 20px;
}
    
#skillDescription p {
    position: relative;
    bottom: 35px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    line-height: 1.8em;
}

#main-menu ul li {
    font-size: 1.1em;
    padding-left: 1.25em;
    padding-top: 2em; 
}

#footer-menu ul li {
    font-size: 1.1em;
    padding-left: 1.25em;
    padding-top: 2em; 
    
}

#carouselHeader {
    padding-right: 4px;
    padding-top: 55px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

/* #heroText {
    margin: 0 70px;
} */

h3 {
    text-align: center;
}

.flex-container {
    display: block;
}

.flex-item1 {

    flex: 1 0 0;
}
.flex-item2 {
    margin-top: 2em;
    flex: 1 0 0;
}

#media-menu {
    position: absolute;
    top: 0;
    right: 0;
}

.media-toggle {
    background-color: #E4EBE0;
    border: .7px solid #52796F;
    border-radius: 5px;
    display: block;
    width: 70px;
    height: 29px;
}
.media-toggle:hover {
    cursor: pointer;
}
.mediaLogos {
    display: none;
}

#media-menu ul li {
    padding-top: .5em;
    padding-right: .2em;
    display: inline-block;
    
  
  
  }

.mediaLogos.show-small {
    display: block;
    
  }

.next, .prev {
    display: none;
}

#submitBtnDisplay {
    display: block;
    margin-right: 20px;
    margin-top: 1em;
    
}
}

@media screen and (max-width: 590px) {

h3 {
    margin-top: 20px;
}

    #main-menu {
        text-align: center;
        margin-left: 5%;
    }
    
    #main-menu ul li {
            font-size: 1.1em;
            padding-left: 1.25em;
            padding-top: 2em; 
        }

        #main-menu {
            text-align: center;
            margin-left: 10%;
        }
        
        #main-menu ul :first-child {
                
                padding-left: .25em;
                padding-top: 2em; 
            }
            #submitBtnDisplay {
                display: block;
                margin-right: 0;
                margin-top: 1em;
                
            }
}


@media screen and (max-width: 480px) {

/* transition works better at 480 than 320 */


#heroText {
    margin-top: 0px;
    max-width: 557px ;
}

#main-menu {
    margin-top: 2.4em;
    position: relative;
    right: 1.2em;
    margin-bottom: 0;
    padding-bottom: 0;
}
#footer-menu ul li:first-child {
    padding-left: 24px;
    padding-right: 52px;
    display: inline-block;
}

#media-menu {
    position: absolute;
    top: -8.7em;
    right: 0;
}

.fa-bars {
    border: none;
    background-color: #F8F9FA;
    width: 35px;
    height: 35px;
}

.menu {
    display: none;
}

#main-menu ul li {
    padding-left: 0%;
    margin-left: 0;
    text-align: left;
    display: block;
  
  }

.menu-toggle {
    display: block;
    border: none;
}

.menu-toggle:hover {
    cursor: pointer;
}



.menu.show-small {
    display: block;
  }

#heroText {
    margin-bottom: 0;
    padding-bottom: 0;
}

.flex-container {
    margin-top: 0;
    padding-top: 0;
}

input {
    background-color: #E4EBE0;
    /* height: 47px;
    width: 18em; */
    font-size: 18px;
    padding: 6px 0 6px 16px;
    height: 70%;
    width: 55%;
}

textarea {
    font-size: 18px;
    height: 70%;
    width: 80%;
    margin-top: 2em;
}

label {
    font-size: 1.4em;
    margin-right: 28px;
    color: #2F3E46;
}
#submitBtnDisplay {
    display: block;
    margin-right: 0;
    margin-top: 1em;
    
}

}